{% extends 'base.html' %}

{% block title %}Teacher Homepage{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Welcome to the Teacher Homepage, {{ user.username }}!</h1>
    <div class="mt-3">
        <a href="{% url 'create_exam' %}" class="btn btn-primary" target="_blank">Create Exam</a>
        <!-- Add more teacher-specific links or content here -->
    </div>
</div>
<h3>My Exams</h3>
<ul>
    {% for exam in exams %}
    <li><a href="{% url 'exam_detail' exam.id %}">{{ exam.title }}</a> - {{ exam.created_at }}
        <a href="{% url 'view_student_answers' exam.id %}">View Student Answers</a>
        <a href="{% url 'grade_exam' exam.id %}">Grade Exam</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
