asgiref==3.8.1
Django==5.1.6
python-dotenv==1.1.0
sqlparse==0.5.3
typing_extensions>=4.13.2
tzdata==2025.1

# API
djangorestframework==3.14.0

# Deployment packages
gunicorn==21.2.0
whitenoise==6.6.0
psycopg2-binary==2.9.11
