{% extends 'base.html' %}

{% block title %}Student Homepage{% endblock %}

{% block content %}
<div class="container">
    <h2>Welcome, {{ user.username }}!</h2>
    <p>This is the student homepage.</p>
    <!-- Add any additional content or links for students -->

    <h2>Your Scores</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Subject</th>
            <th>Date</th>
            <th>Score</th>
            <th>Teacher's Name</th>
        </tr>
        </thead>
        <tbody>
        {% for entry in ledger_entries %}
        <tr>
            <td>{{ entry.subject }}</td>
            <td>{{ entry.date }}</td>
            <td>{{ entry.score }}</td>
            <td>{{ entry.teacher_name }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Your Exams</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Subject</th>
            <th>Description</th>
            <th>Teacher</th>
            <th>Created At</th>
        </tr>
        </thead>
        <tbody>
        {% for exam in exams %}
        <tr>
            <td>{{ exam.title }}</td>
            <td>{{ exam.subject }}</td>
            <td>{{ exam.description }}</td>
            <td>{{ exam.teacher.user.username }}</td>
            <td>{{ exam.created_at }}</td>
            <td>
                <a href="{% url 'take_exam' exam.id %}" class="btn btn-primary">Take Exam</a>
                {% for result in exam_results %}
                {% if result.exam.id == exam.id %}
                <span style="background-color: #007bff; color: white; padding: 5px; border-radius: 5px;">Grade: {{ result.total_score }}</span>
                {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
