{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to the Exams App!</h1>
    <p class="lead">
        {% if user.is_authenticated %}
        Welcome back, {{ user.username }}!
        {% if user.student %}
        <script>
            window.location.href = "{% url 'student_homepage' %}";
        </script>
        {% elif user|is_teacher or user|is_superuser %}
        <script>
            window.location.href = "{% url 'teacher_homepage' %}";
        </script>
        {% endif %}
        {% else %}
        Please log in to access your account.
        {% endif %}
    </p>
</div>
{% endblock %}
