{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to the Exams App!</h1>
    <p class="lead">
        {% if user.is_authenticated %}
            Welcome back, {{ user.username }}!
            {% if user.student %}
                <br>You are registered as a student in grade {{ user.student.grade }}.
            {% elif user.teacher %}
                <br>You are registered as a teacher.
            {% endif %}
        {% else %}
            Please log in to access your account.
        {% endif %}
    </p>
</div>
{% endblock %}
